* {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    /* background: url("freedom.jpg"); */
    background-image: url("images/freedom.jpg");
    background-size: 100% 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    width: 100%;
    height: 528px;
    padding: 0.6rem;   
    margin-top: 2.6rem;
    /* border:5px dashed red ; */
    position: relative;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}
.plan__list{
    width: 80%;
    margin: auto;
    text-align: center;
}
.plan{
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted{
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan__annotation{
    color: #19b84c;
    background: white;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.plan__title{
    color: #0e4f1f;
}

.plan__price{
    color: #858585;
}

.plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan--highlighted .plan__title{
    color:white;
}
.plan--highlighted .plan__price{
    color:#0e4f1f
}

.plan__feature{
    margin: 0.5rem 0;
}

#key-features{
    background: #ff1b68;
    margin-top: 80px;
    padding: 1rem;
}

#key-features .section-title{
    color: white;
    margin: 2rem;
}

.key-features__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image{
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto;
    padding: 1.3rem;
}
.key-feature__description{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}
